body {

}

header{
  display: -webkit-flex;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

h1 {

}

h2 {

}

h3 {

}

img {
  width: 100%;
}

p {
  font-family: 'Droid Sans Mono', serif;
}

a {
  font-family: 'Droid Sans Mono', serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

footer {
  font-family: 'Droid Sans Mono', serif;
  padding: 10px 0;
}
