.account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.account li {
  list-style-type: none;
}

ul.dropdown                         { display: flex; }
ul.dropdown li a                    { color: #222; }
ul.dropdown li.hover,
ul.dropdown li:hover                { background: red; color: black; position: relative; }


/*
  LEVEL TWO
*/
ul.dropdown ul            { width: 40em; visibility: hidden; position: absolute; top: 100%; }
ul.dropdown ul li           { font-weight: normal; background: blue; color: #000;
                    border-bottom: 5px solid blue; float: none; }

                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a         { border-right: none; width: 100%; display: inline-block; }

/*
  LEVEL THREE
*/
ul.dropdown ul ul           { left: 100%; top: 0; }
ul.dropdown li:hover > ul       { visibility: visible; }

