/** CSS for header **/

.flex-header {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
}

.flex-header h1 {
  padding-left: 1em;
}

.submit {
width: 1.1em;
height: 1.1em;
margin-bottom: .3em;
vertical-align: bottom;
}


/*----------------------------------------Flex Container Layout--------------------------------------------*/


.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.flex-width1 {
  width: 100%;
}

.flex-width2-3 {
  width: 100%;
}

.flex-width4-5-6 {
  width: 100%;
}

.flex-padding {
  padding: .4em;
}
 .flex-item-1 {
    background-color: blue;
    height: auto;
}

 .flex-item-2 {
   background-color: green;
}

 .flex-item-3 {

    background-color: red;
}

 .flex-item-4 {
   background-color: orange;
}

 .flex-item-5 {
   background-color: magenta;
}

 .flex-item-6 {
   background-color: purple;
}

.flex-item-footer {
  background-color: black;
  height: 8em;
  color: white;
}

/*-----------------------------------------Responsive Grid System ----------------------------------------------*/

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

/*  GRID OF Four  */

.span_3_of_3 {
    width: 33%;
}

.span_2_of_3 {
    width: 33%;
}

.span_1_of_3 {
    width: 33%;
}


/*-------------------------------Media Query's for all-------------------------------*/

/* Small screens */
@media all and (min-width: 501px) {

  .flex-container {
    /* On bigger screens, we are no longer using column direction but row */
    flex-direction: row;
  }
  .flex-width2-3 {
    width: 50%;
  }
  /*Responsive grid for bigger than 500px*/
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }

  .menu-icon{
    fill: #435c6e;
    vertical-align: middle;
    height: 1em;
  }
}

@media all and (min-width: 601px) {
  .flex-container {
    /* On bigger screens, we are no longer using column direction but row */
    flex-direction: row;
  }
  .flex-width2-3 {
    width: 50%;
  }
  /*Responsive grid for bigger than 500px*/
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 66.1%;
  }
  .span_1_of_3 {
    width: 32.2%;
  }

}

@media all and (max-width: 700px) {
  .account>a {
    display: none;
  }
  .searchbox {
    display: none;
  }
  .flex-header {
    flex-flow: row nowrap;
  }
}

}



@media all and (min-width: 801px) {

  ./*sitenav-list {
  width: 300px;
  position: absolute;
  top: 3.52em;
  background: rgba(67, 92, 110, 0.9);*/ /* hex#435c6e with 0.9 opacity
  display: none;
  padding: 20px;
  }*/
  .flex-container {
    justify-content: space-around;
    align
  }
  .flex-width4-5-6 {
    width: 33.33%;
  }
  .flex-width2-3 {
    width: 50%;
  }

  .span_3_of_3 {
    width: 33%;
  }
  .span_2_of_3 {
      width: 33%;
  }
  .span_1_of_3 {
      width: 33%;
  }
}



