/** CSS for header **/

.socialnav {
  display: -webkit-flex;
  display: flex;
}

.menu-icon{
  fill: #435c6e;
  vertical-align: middle;
}

.sitenav-button img{
  vertical-align: middle;
}

.sitenav-button:hover > .sitenav-list{
  display:block;
}

.sitenav-button:hover .menu-icon{
  fill: #FFFFFF;
}

/** For topnav items **/
.sitenav{
  display: inline-block;
  padding-left: 15px;
  height: 60px;
  padding-top: 20%;
}
/** For dropdown sitenav bar **/
.sitenav-list{
  width: 300px;
  position: absolute;
  top: 45px;
  right: 0;
  background: rgba(67, 92, 110, 0.9); /* hex#435c6e with 0.9 opacity*/
  display: none;
  padding: 20px;
}

.sitenav-list::before{
  content:"";
  display: block;
  position: absolute;
  top: -13px;
  right: 23px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}

.sitenav-listitem{
  padding: 15px 10px;
  border-top: 1px solid #FFFFFF;
  cursor: pointer;
}

.sitenav-listitem:last-child{
  border-bottom: 1px solid #FFFFFF;
}

.sitenav-listitem a{
  color: #FFFFFF;
}

.sitenav-listitem:hover{
  background: #F3AC13;
}

.sitenav-listitem:hover a{
  color: #435c6e;
}

/*To be allocated appropriately*/
img {
  width: 100%;
}

.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.flex-width1 {
  width: 100%;
}

.flex-width2-3 {
  width: 100%;
}

.flex-width4-5-6 {
  width: 100%;
}

.flex-padding {
  padding: .4em;
}
 .flex-item-1 {
    background-color: blue;
    height: auto;
}

 .flex-item-2 {
   background-color: green;
}

 .flex-item-3 {

    background-color: red;
}

 .flex-item-4 {
   background-color: orange;
}

 .flex-item-5 {
   background-color: magenta;
}

 .flex-item-6 {
   background-color: purple;
}

.flex-item-footer {
  background-color: black;
  height: 8em;
  color: white;


}

/* Small screens */
@media all and (min-width: 500px) {

  .flex-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: row;
  }
  .flex-width2-3 {
    width: 50%;
  }
}

@media all and (min-width: 800px) {
  img {
    height: 20em;
    width: auto;
  }
  .flex-container {
    justify-content: space-around;
  }
  .flex-width4-5-6 {
    width: 33.33%;
  }
  .flex-width2-3 {
    width: 50%;
  }
}



