/** CSS for header **/

.flex-header {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
}

.flex-header h1 {
  padding-left: 1em;
}

.submit {
width: 1.1em;
height: 1.1em;
margin-bottom: .3em;
vertical-align: bottom;
}


/*----------------------------------------Flex Container Layout--------------------------------------------*/


.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.flex-width1 {
  width: 100%;
}

.flex-width2-3 {
  width: 100%;
}

.flex-width4-5-6 {
  width: 100%;
}

.flex-padding {
  padding: .4em;
}
 .flex-item-1 {
    background-color: blue;
    height: auto;
}

 .flex-item-2 {
   background-color: green;
}

 .flex-item-3 {

    background-color: red;
}

 .flex-item-4 {
   background-color: orange;
}

 .flex-item-5 {
   background-color: magenta;
}

 .flex-item-6 {
   background-color: purple;
}

.flex-item-footer {
  background-color: black;
  height: 8em;
  color: white;
}

/*-----------------------------------------Responsive Grid System ----------------------------------------------*/

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

/*  GRID OF Four  */

.span_3_of_3 {
    width: 33%;
}

.span_2_of_3 {
    width: 33%;
}

.span_1_of_3 {
    width: 33%;
}






