button {
  transition: background .2s, color .2s;
}


button:hover {
  transition: background .2s, color .2s;
  background: #C9C9C9;
  color: black;
}

button:active {
  transition: background .2s, color .2s;
  background: #435C6E;
  color: white;
}
