/*--------------working with nubbins--------------*/

/*.nubbing {
  width: 0;
  height: 0;
  display: inline-block;
  border-right: 2em solid transparent;
  border-left: 2em solid transparent;
  border-bottom: 2em solid #435C6E;
  margin-bottom: -.2em;
}

.right {
  margin-left: 10em;
}
*/

button {
  transition: background .2s, color .2s;
}


button:hover {
  transition: background .2s, color .2s;
  background: #C9C9C9;
  color: black;
}

button:active {
  transition: background .2s, color .2s;
  background: #435C6E;
  color: white;
}
