article
  section.post
    h1 Blog post #9: 4/19/2014
    strong Style Tiles
    p I'm sorry I havn't posted in a while. I'm probably only specifically appologizing to my mother :P because she's probably the only one who actually reads this junk! This last week has been pretty eventful in terms of ammounts of learning we've been doing. However it has mostly been about design. Now I would consider myself an artistic person and as professional musician, in that aspect, an artist. However as far as visual design I am relying completely on my 6 years of studio art that I took from 7th through 12th grade.
    p Learning the design process has been really fun... and challenging. I've learned there is a SPECIFIC process, that most all professionals adhear to. Of course, some different paths will be chosen, but the difference is most likely very small. The process, through my understanding goes through the steps of finding a user story, creating a mood board for what the feel of the experience will be, creating style tiles for aesthetic of what the view will look like. Continuing from the stile tiles, we then map out the layout of the experience with a wire frame, which is a visualization of key aspects of the experience with little detail and more focus on function. Next, a prototype is constructed by writing the actual code, and then refactors and implementation of back end all happens together. The post prototype process is still being taught to us. We're currently working on projects and my project is implementing a Ruby on Rails app and designing a full site for the app!

article
  section.post
    h1 Blog post #8: 4/19/2014
    strong Jade and Haml
    p "Haml is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code. Haml functions as a replacement for inline page templating systems such as PHP, ASP, and ERB, the templating language used in most Ruby on Rails applications. However, Haml avoids the need for explicitly coding HTML into the template, because it itself is a description of the HTML, with some code to generate dynamic content. <a href="http://haml.info/about.html">Read</a> more about Haml's core principals." ~ Dale Sande
    p I'm using haml to write in ruby and jade to write for this blog now! I am currently using a jade to html <a href="http://html2jade.org/">converter</a> to be able to post the jade that I write. The reason I can't write jade directly into the browser is that the world would break if HTML wasn't the base language. Not because it has to be the base language, but because it's TOO big to change. Maybe in the future things will be different, but for now everyone has to go through HTML to render in a browser!
