article
  section.post
    h1 Blog post #9: 4/19/2014
    strong Style Tiles
    p This last week has been pretty eventful in terms of ammounts of learning we've been doing. However it has mostly been about design. Now I would consider myself an artistic person and as professional musician, in that aspect, an artist.
    p

article
  section.post
    h1 Blog post #8: 4/19/2014
    strong Jade and Haml
    p "Haml is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code. Haml functions as a replacement for inline page templating systems such as PHP, ASP, and ERB, the templating language used in most Ruby on Rails applications. However, Haml avoids the need for explicitly coding HTML into the template, because it itself is a description of the HTML, with some code to generate dynamic content. <a href="http://haml.info/about.html">Read</a> more about Haml's core principals." ~ Dale Sande
