h1 {
  text-align: center;
}
p {
  text-align: center;
  border: .1em solid black;
  border-radius: .2em;
}

.center-me {
  width: 20em;
  height: 10em;
  background-color: #B8B8B8;
  margin: calc(50% - 10em);
  border-radius: 10px;

}
