body {
  font-family: 'Droid Sans Mono', serif;
  margin: 2em calc(50% - 25em);
}

nav {
  line-height: 3em;
  background-color: white;
}


.post {
  font-family: 'Droid Sans Mono', serif;
  width: 50em;
  margin: 2em calc(50% - 25em);
}

@media only screen and (max-width: 700px) {
    body {
      margin: auto;
      padding: .4em;
    }
    .post {
      width: 100%;
      margin: 2em auto;

    }
    section img {
      width: 100%;
    }
}
