/*Base=======================*/

body {
  background-color: #3a495c;
  font-family: 'Droid Sans Mono', serif;
}

main {
  display: -webkit-flex;
  display: flex;
  height: 45em;
  justify-content: center;
}

article {
  height: 75%;
  width: 75%;
}

nav a {
  padding: 0 .3em;
}

p {
  font-size: 1.2em;
  color: white;
  padding: 0 1em;
  margin: .5em 0;
  text-indent: 1.5em;
}

/*Module=======================*/
.about {
  display: flex;
  margin: 3em auto;
  flex: 1;
}

.about-image {
  width: auto;
  margin: 0 2em;
}

.about-image img {
  width: auto;
  height: 30em;
}


.about-column {
  flex: 1;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
}


.top-nav {
  text-align: center;
  font-size: 2.5em;
  padding: .2em 0;
  border-bottom: .1em solid #14bbb1;
}

.top-nav a {
  text-decoration: none;
  color: #e746a4;
  font-family: 'Droid Sans Mono', serif;
  padding: 0 .2em;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.contact-list {
  font-size: 3em;
  color: #e746a4;
  text-decoration: none;
}

.contact-list li {
  padding: .1em;
}

.contact-list a {
  color: #14bbb1;
  font-size: .618em;
}

.contact-list nav {
  padding: .1em 0;
}

.description {
  font-size: .5em;
  color: white;
}
/*State=========================*/

a:hover {
  text-shadow: .05em .05em 0 black;
}


@media all and (max-width: 701px) {
  .about {
    flex-flow: column wrap;
  }

  article {
    width: 100%;
    padding: 0 1em;
  }
}

